{include file='head'}
    <body>
        <div class="wrap-container">
            <form class="layui-form" action="/admin/Message/doEdit/id/{$records.id}" method="post" style="width: 96%;padding-top: 20px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">标题：</label>
                    <div class="layui-input-block">
                        <input type="text" name="Message[title]" value="{$records.title}" lay-verify="required" placeholder="请输入标题" class="layui-input">
                    </div>
                </div><div class="layui-form-item layui-form-text">
                <label class="layui-form-label">内容：</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" name="Message[content]" lay-verify="required">{$records.content}</textarea>
                </div></div><div class="layui-form-item">
                <label class="layui-form-label">状态：</label>
                <div class="layui-input-block">
                    {foreach name="statusItems" item="status"}
                    <input type="radio" {if $records.status eq $key}checked{/if} value="{$key}" name="Message[status]" title="{$status}">
                    {/foreach}
                </div></div>


                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button>
                       
                    </div>
                </div>
            </form>
        </div>       
    </body>

</html>