{include file='head'}
<body>
    <div class="main-layout" id='main-layout'>
        <!--侧边栏-->
        <div class="main-layout-side">
            <div class="m-logo">
            </div>
            <ul class="layui-nav layui-nav-tree tab-show-item">

                {foreach name='menu' item='parent'}
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont">{$parent.icon|raw}</i>{$parent.name}</a>
                    <dl class="layui-nav-child">

                        {foreach name='parent.authItems'  item='son' }
                        <dd><a href="javascript:;" data-url="{$son.path|raw}{$son.param|raw}" data-id='{$son.id}' data-text="{$son.name}"><span class="iconfont">&#xe628;</span>{$son.name}</a></dd>
                        {/foreach}                            
                    </dl>
                </li>
                {/foreach}  
            </ul>
        </div>
        <!--右侧内容-->
        <div class="main-layout-container">
            <!--头部-->
            <div class="main-layout-header tab-show-item">
                <div class="menu-btn" id="hideBtn">
                    <a href="javascript:;">
                        <span class="iconfont">&#xe60e;</span>
                    </a>

                </div>
                <ul class="layui-nav"  id="table-list">
                    <li class="layui-nav-item">
                        <a href="javascript:;"  data-url="/build/Code/index"  data-id='887' data-text="代码生成">代码生成</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;" data-url="/admin/AuthAdmin/notebook" class="edit-btn"  data-height="220">记事本</a>
                    </li>                    
                    <li class="layui-nav-item">
                        <a href="javascript:;" data-url="/admin/AdminMessage/index" data-id="888"  data-text="管理员留言">{if $message.id}<span class="layui-badge-dot" style="margin: -4px -15px 0;"></span>{/if}管理员留言</a>
                    </li>

                    <li class="layui-nav-item">
                        <a href="javascript:;" data-url="/admin/AuthAdmin/adminInfo" class="edit-btn"  data-height="350">个人设置</a>
                    </li>
                    <li class="layui-nav-item"><a href="/admin/Login/logout">退出</a></li>
                </ul>
            </div>
            <!--主体内容-->
            <div class="main-layout-body">
                <!--tab 切换-->
                <div class="layui-tab layui-tab-brief main-layout-tab" lay-filter="tab" lay-allowClose="true">
                    <ul class="layui-tab-title">
                        <li class="layui-this welcome">后台主页</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show" style="background: #f5f5f5;">
                            <!--1-->
                            <iframe src="/admin/Index/welcome" width="100%" height="100%" name="iframe" scrolling="auto" class="iframe" framborder="0"></iframe>
                            <!--1end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--遮罩-->
        <div class="main-mask">

        </div>
    </div>
    <script src="/static/js/main.js" type="text/javascript" charset="utf-8"></script> 
</body>
</html>