{include file='head'}  
<body>

    <div class="layui-tab-item layui-show">      
        <form class="layui-form" action="/admin/AuthAdmin/doEditAdminInfo" method="post" style="width: 96%;padding-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名：</label>
                <div class="layui-input-block">
                    <input type="text" name="AuthAdmin[username]" lay-verify="required" value="{$records.username}" placeholder="请输入用户名" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">旧密码：</label>
                <div class="layui-input-block">
                    <input type="password" name="AuthAdmin[oldpassword]" value="" lay-verify="required" placeholder="请输入旧密码" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">新密码：</label>
                <div class="layui-input-block">
                    <input type="password" name="AuthAdmin[password]" value="" lay-verify="required" placeholder="请输入新密码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码：</label>
                <div class="layui-input-block">
                    <input type="password" name="AuthAdmin[repassword]" lay-verify="required" value="" placeholder="再输入一次新密码" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button>

                </div>
            </div>
        </form>                    
    </div>

    <script>
        //Demo
        layui.use(['form', 'element'], function () {
            var element = layui.element;
            var layid = location.hash.replace(/^#tab=/, '');
            element.tabChange('tab', layid);



        });
    </script>       
</body>
</html>