{include file='head'}
    <body>
        <div class="wrap-container">
            <form class="layui-form" action="/admin/GoodsCat/doAdd/" method="post" style="width: 96%;padding-top: 20px;">
             <div class="layui-form-item">
                    <label class="layui-form-label">分类名：</label>
                    <div class="layui-input-block">
                        <input type="text" name="GoodsCat[name]" value="" lay-verify="required" placeholder="请输入分类名" class="layui-input">
                    </div>
                </div><div class="layui-form-item">
                    <label class="layui-form-label">描述：</label>
                    <div class="layui-input-block">
                        <textarea name="GoodsCat[remark]" class="layui-textarea"  placeholder="请输入描述" ></textarea>
                      
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="hidden" name="GoodsCat[pid]" value="{$pid}"  class="layui-input">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button>
                    </div>
                </div>
            </form>
        </div>
    </body>

</html>