{include file='head'}
    <body>
        <div class="wrap-container">
            <form class="layui-form" action="/admin/Database/doBackup/" method="post" style="width: 96%;padding-top: 20px;">
                <fieldset class="layui-elem-field">
                    <legend>数据备份</legend>
                    <div class="layui-field-box" style="height:200px;line-height: 200px;text-align: center">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">数据备份</button>
                    </div>
                </fieldset>

            </form>
        </div>
    </body>

</html>