{include file='head'}
    <body>
        <div class="wrap-container" >
            <form class="layui-form" action="/admin/Order/doEdit/id/{$records.id}" method="post" style="width: 96%;padding-top: 20px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">订单号：</label>
                    <div class="layui-input-block">
                        <div class="layui-form-mid layui-word-aux">{$records.order_no}</div>
                    </div>
                </div><div class="layui-form-item">
                    <label class="layui-form-label">用户：</label>
                    <div class="layui-input-block">
                        <div class="layui-form-mid layui-word-aux">{$records.users.username}</div>
                    </div>
                </div><div class="layui-form-item">
                    <label class="layui-form-label">发货地址：</label>
                    <div class="layui-input-block">
                        <div class="layui-form-mid layui-word-aux">{$records.addr}</div>
                    </div>
                </div><div class="layui-form-item">
                    <label class="layui-form-label">收件电话：</label>
                    <div class="layui-input-block">
                        <div class="layui-form-mid layui-word-aux">{$records.tel}</div>
                    </div>
                </div><div class="layui-form-item">
                    <label class="layui-form-label">用户留言：</label>
                    <div class="layui-input-block">
                        <div class="layui-form-mid layui-word-aux">{$records.message}</div>
                    </div>
                </div>
   
                <div class="layui-form-item">
                    <label class="layui-form-label">订单状态：</label>
                    <div class="layui-input-block">
                        {foreach name="statusItems" item="status"}
                        <input type="radio" {if $records.status eq $key}checked{/if} value="{$key}" name="Order[status]" title="{$status}">
                               {/foreach}
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">支付状态：</label>
                    <div class="layui-input-block">
                        {foreach name="pay_statusItems" item="pay_status"}
                        <input type="radio" {if $records.pay_status eq $key}checked{/if} value="{$key}" name="Order[pay_status]" title="{$pay_status}">
                        {/foreach}
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">交易状态：</label>
                    <div class="layui-input-block">
                        {foreach name="trade_statusItems" item="trade_status"}
                        <input type="radio" {if $records.trade_status eq $key}checked{/if} value="{$key}" name="Order[trade_status]" title="{$trade_status}">
                        {/foreach}
                    </div>
                </div>                

                <div class="layui-form-item">
                    <label class="layui-form-label">配送方式：</label>
                    <div class="layui-input-block">
                        <div class="layui-form-mid layui-word-aux">{$records.delivery.delivery_name}</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">支付方式：</label>
                    <div class="layui-input-block">
                        <div class="layui-form-mid layui-word-aux">{$records.payment.pay_name}</div>
                    </div></div><div class="layui-form-item">
                    <label class="layui-form-label">价格：</label>
                    <div class="layui-input-block">
                        <div class="layui-form-mid layui-word-aux">{$records.price}</div>
                    </div>
                </div><div class="layui-form-item">
                    <label class="layui-form-label">下单时间：</label>
                    <div class="layui-input-block">
                        <div class="layui-form-mid layui-word-aux">{$records.order_time|date='Y-m-d'}</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">下单时间：</label>
                    <div class="layui-input-block">

                        <table class="layui-table" lay-skin="nob">
                            <thead>
                                <tr>
                                    <th width="100" ></th><th width="250">商品</th><th >属性</th><th width="100">单价</th><th>数量</th><th>实付价格</th>
                                </tr>
                            </thead>
                            {foreach name="records.orderGoods" item="mygoods"}
                            <tr>
                                <td><img src='{$mygoods.goodsImages.goods_thumb_pic}'></td>
                                <td>{$mygoods.goods.goods_name}</td>
                                <td>颜色：{$mygoods.color}<br>尺寸：{$mygoods.size}</td>
                                <td>{$mygoods.goods.shop_price}</td>
                                <td>{$mygoods.goods_num}</td> 
                                <td>{$mygoods.pay_price}</td>
                            </tr>
                            {/foreach}                            
                        </table>
                    </div>
                </div>               


                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button>
                        <button class="layui-btn layui-btn-small layui-btn-primary go-btn" data-url="/admin/Order/index">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </body>

</html>