{include file='head'}
    <body>
        <div class="wrap-container">
            <form class="layui-form" action="/admin/Ads/doAdd/" method="post" style="width: 96%;padding-top: 20px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">标题：</label>
                    <div class="layui-input-block">
                        <input type="text" name="Ads[title]" value="" lay-verify="required" placeholder="请输入标题" class="layui-input">
                    </div>
                </div><div class="layui-form-item">
                    <label class="layui-form-label">图片地址：</label>
                    <div class="layui-input-block">
                        <input type="text" name="Ads[pic]" value="" placeholder="请输入图片地址" class="layui-input">
                    </div>
                </div><div class="layui-form-item">
                    <label class="layui-form-label">广告地址：</label>
                    <div class="layui-input-block">
                        <input type="text" name="Ads[url]" value="" lay-verify="required" placeholder="请输入广告地址" class="layui-input">
                    </div>
                </div><div class="layui-form-item">
                    <label class="layui-form-label">标记：</label>
                    <div class="layui-input-block">
                        <input type="text" name="Ads[tags]" value="" placeholder="请输入标记" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button>
                      
                    </div>
                </div>
            </form>
        </div>
    </body>

</html>