{include file='head'}  
<body>
    <div class="wrap-container">
        <form class="layui-form" action="/admin/AuthRole/doAdd/" method="post" style="width: 96%;padding-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">角色名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="AuthRole[name]" value="" placeholder="请输入角色名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序：</label>
                <div class="layui-input-block">
                    <input type="text" name="AuthRole[order]" value="" placeholder="请输入排序" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">描述信息：</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" name="AuthRole[desc]" lay-verify="content"></textarea>
                </div></div>
            <div class="layui-form-item">
                <label class="layui-form-label">选择权限：</label>
                <div class="layui-input-block">
                    <div id="items"></div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button>
                    <button class="layui-btn layui-btn-small layui-btn-primary go-btn" data-url="/admin/AuthRole/index">返回</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        layui.extend({
            authtree: 'authtree'
        }).use(['jquery', 'authtree'], function () {
            var $ = layui.jquery;
            var authtree = layui.authtree;
            authtree.render({
                element: '#items',
                url: '/admin/AuthRole/getTree',
                inputname: 'items[]',
                openall: false,
                 checked:['后台首页']
            });
        });
    </script>         
</body>
</html>